:root {
    --main-bg-color: #333;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.nocopy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100vw;
    height: 100vh;
}

.n-config-provider {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #555a;
}

::-webkit-scrollbar-corner {
    display: none;
}

pre code {
    font-size: 16px !important;
}

.n-tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.n-tab-pane {
    padding: 0 !important;
    position: absolute !important;
    top: 33px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.response .n-spin-container,
.response .n-spin-container .n-spin-content {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}