:root {
    --main-bg-color: #333;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.nocopy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100vw;
    height: 100vh;
}

.n-config-provider {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #555a;
}

::-webkit-scrollbar-corner {
    display: none;
}

pre code {
    font-size: 16px !important;
}